/****************************
Header
****************************/
header {
    width: 100%;
    height: var(--headerHeight);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
}

#headerWrap {
    position: fixed;
    width: 100%;
}

#fName {
    color: lightgrey;
    text-shadow: 1px 1px var(--thirdColor);
    font-weight: lighter;
    width: fit-content;
}

#lName {
    color: dimgray;
    text-shadow: 1px 1px var(--firstColor);
    left: 147px;
}

#fName, #lName {
    position: absolute;
    z-index: 100;
    top: 10px;
}

#fullName {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 200%;
}

#fswd {
    position: absolute;
    margin-left: 20px;
    top: 50px;
    z-index: 90;
    color: var(--thirdColor);
    text-shadow: 1px 1px var(--secondColor);
    font-weight: lighter;
}

/****************************
Footer
****************************/
footer {
    width: 100%;
    height: fit-content;
    min-height: 4vw;
    position: fixed;
    bottom: 0;
    z-index: 12;
    margin-top: 50px;
}

#copy {
    font-size: 90%;
    font-weight: 100;
    right: 0;
    margin-top: 2.5vw;
    margin-right: 2vw;
    line-height: 100%;
    display: block;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px var(--firstColor);
    z-index: 100;
    position: fixed;
    width: fit-content;
}

#ftBg {
    width: 100%;
    height: 200px;
    bottom: 0;
}