@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rubik');

/****************************
main & overarching stuff
****************************/
body {
  margin: 0;
  width: 100%;
  font-family: 'Rubik',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}
#mainContent{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: clip;
  padding-top: var(--headerHeight);
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
  background: linear-gradient(to right, #156785 0%, #fad0c4 99%, #fad0c4 100%);
  z-index: -100;
}
.marker{
  font-family: 'Permanent Marker';
  font-weight: lighter;
}
#app{
  position: relative;
}
button{
  cursor: pointer;
}

/****************************
main content: about, skills, code
****************************/

#about, #code, #skills, #personal{
  position: relative;
  margin-top: 2vw;
  width: 70%;
  border-right: 2px solid var(--thirdColor);
  border-left: 2px solid var(--thirdColor);
  padding-top: 5px;
  padding-bottom: 27px;
  justify-content: center;
  background: var(--blueBgAlpha);
  border-radius: 288px;
  width: 78vw;
  align-items: center;
  padding-left:20px;
  z-index: 8;
}
#code{
  width: 100%;
  z-index: 10;
}
#about{
  overflow: clip;
}
#personal{
  z-index: 4;
}
.aboutP, #techList, h5, .itemP{
  position: relative;
  margin: 0 auto;
  margin-bottom: 1vw;
  display: block;
  width: 70%;
  color: var(--fontColor);
  font-weight: 100;
  font-size: 120%;
  text-align: justify;
  z-index: 2500;
}
h3{
  margin: 1vw auto;
  color: white;
  font-size: 150%;
  display: block;
  width: 70%;
  
}
h5{
  color: var(--thirdColor);
  margin: 0 auto;
  margin-bottom: 15px;
  text-shadow: 1px 1px var(--secondColor);
}
#techList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skillsIcon{
  width: 36px;
  height: 36px;
  margin: 0 auto;
}
#steveImgWrap{
  height: 98%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2500;
}
#steveImg{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
  z-index: 2500;
}
#skillHover{
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: x-large;
  display: block;
  position: absolute;
}



/****************************
Contact
****************************/
#contact, .contactClass{
  margin-top: 2vw;
  z-index: 10;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  height: 150px;
  width: 300px;
  display: flex;
}
#burger{
  margin-top: 2vw;
  z-index: 6;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  height: 150px;
  width: 300px;
  display: none;
  cursor: pointer;
}
.contactIcon{
  width: 100px;
  max-width: 100px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}
.contactImg{
  height: 36px;
  width: 36px;
}
.displayBlock{
  display: block;
}
.dispNone{
  display: none;
}
#burger2{
  cursor: pointer;
}