@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rubik');

/****************************
main & overarching stuff
****************************/
body {
  margin: 0;
  width: 100%;
  font-family: 'Rubik',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}
#mainContent{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: clip;
  padding-top: var(--headerHeight);
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
  background: linear-gradient(to right, #156785 0%, #fad0c4 99%, #fad0c4 100%);
  z-index: -100;
}
.marker{
  font-family: 'Permanent Marker';
  font-weight: lighter;
}
#app{
  position: relative;
}

/****************************
main content: about, skills, code
****************************/

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


#about, #code, #skills, #personal{
  position: relative;
  margin-top: 2vw;
  width: 70%;
  border-right: 2px solid var(--thirdColor);
  border-left: 2px solid var(--thirdColor);
  padding-top: 5px;
  padding-bottom: 27px;
  justify-content: center;
  background: var(--blueBgAlpha);
  border-radius: 288px;
  width: 78vw;
  align-items: center;
  padding-left:20px;
  z-index: 1000;
}
#about{
  overflow: clip;
}
.aboutP, #techList, h5{
  position: relative;
  margin: 0 auto;
  margin-bottom: 1vw;
  display: block;
  width: 70%;
  color: rgb(20, 20, 20);
  font-weight: 100;
  font-size: 120%;
  text-align: justify;
}
h3{
  margin: 1vw auto;
  color: white;
  font-size: 150%;
  display: block;
  width: 70%;
  
}
h5{
  color: var(--thirdColor);
  margin: 0 auto;
  margin-bottom: 15px;
  text-shadow: 1px 1px var(--secondColor);
}
#techList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skillsIcon{
  width: 36px;
  height: 36px;
  margin: 0 auto;
}
#steveImgWrap{
  height: 98%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
#steveImg{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
}
#skillHover{
  display: block;
  width: 80%;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: x-large;
  display: block;
  /* position: fixed; */
}
#hoverDiv{
  width: 100%;
}


/****************************
Header
****************************/
header{
  width: 100%;
  height: var(--headerHeight);
  overflow:hidden;
  position: sticky;
  top: 0;
  z-index: 10;
}
#headerWrap{
  position: fixed;
  width: 100%;
}
#fName{
  color: lightgrey;
  text-shadow: 1px 1px var(--thirdColor);
  font-weight: lighter;
  width: fit-content;
}
#lName{
  color: dimgray;
  text-shadow: 1px 1px var(--firstColor);
  left: 147px;
}
#fName, #lName{
  position: absolute;
  z-index: 100;
  top: 10px;
}
#fullName{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 200%;
}
#fswd{
  position: absolute;
  margin-left: 20px;
  top: 50px;
  z-index: 90;
  color: var(--thirdColor);
  text-shadow: 1px 1px var(--secondColor);
  font-weight: lighter;
}
/****************************
Footer
****************************/
footer{
  width: 100%;
  height:fit-content;
  /* height: 6vw; */
  min-height: 4vw;
  position: fixed;
  bottom: 0;
  z-index: 12;
  margin-top: 50px;
}
#ack{
  width: 60%;
  margin: 0 auto;
  margin-right: 20%;
  font-size: 90%;
  text-align: center;
  display: block;
  bottom: 0;
  height: 100%;
  margin-top: 20px;
  padding: 7px;
  background-color: var(--firstColor_a7);
  /* -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); */
  border-radius: 50% 50% 0 0;
}
#ackImg{
  height: 30px;
  width: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}
#copy{
  font-size: 90%;
  font-weight: 100;
  right: 0;
  margin-top: 2.5vw;
  margin-right: 2vw;
  line-height: 100%;
  display: block;
  color: white ;
  text-shadow: 0.5px 0.5px 0.5px var(--firstColor);
  z-index: 100;
  position: fixed;
  width: fit-content;
}
#ballWrap{
  height: 100%;
  overflow-y: clip;
  position: absolute;
  right: 0;
}
#ftBg{
  width: 100%;
  height: 200px;
  bottom: 0;
}

/****************************
Contact
****************************/
#contact{
  margin-top: 2vw;
  z-index: 6;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  height: 150px;
  width: 300px;
  display: flex;
}
#burger{
  margin-top: 2vw;
  z-index: 6;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  height: 150px;
  width: 300px;
  display: none;
}
.contactIcon{
  width: 100px;
  max-width: 100px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}
.contactImg{
  height: 36px;
  width: 36px;
}

