/*
- Steve Barry -
Media CSS file
*/


@media screen and (max-width:1060px) and (min-width:900px) {
    h3{
        margin-top: 25px;
        margin-bottom: 10px;
    }
    #ball2{
        /* animation-name: ball2_1060; */
    }
    #about, #code{
        margin-top: 4vw;
        width: 50%;
        border-right: 10px solid #F3B116;
        border-left: 10px solid #F3B116;
        padding-bottom: 27px;
        justify-content: center;
        background: #01b0f07d;
        border-radius: 180px;
        width: 78vw;
        align-items: center;
        padding-left:20px;
    }
}
@media screen and (max-width:900px) and (min-width:550px) {
    h3{
        margin: 0;
        margin-top: 25px;
        margin-bottom: 10px;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    .aboutP{
        margin-bottom: 3vw;
        width: 70%;
        font-size: 110%;
        text-align: justify;
    }
    #about, #code{
        margin-top: 4vw;
        width: 50%;
        border-right: 10px solid #F3B116;
        border-left: 10px solid #F3B116;
        padding-bottom: 27px;
        justify-content: center;
        background: #01b0f07d;
        border-radius: 100px;
        width: 78vw;
        align-items: center;
        padding-left:20px;
    }
}
@media screen and (max-width:550px) {
    body{
        overflow-y: visible;
    }
    footer{
        /* background-color: white;  */
    }
    #mainContent{
        padding-bottom:100px;
    }
    #copy{
        width: 100%;
        text-align: center;
        font-weight: bold;
        height: 100%;
        display: block;
        color: var(--thirdColor);
        animation-name: copy550;
        animation-duration: 60s;
        animation-iteration-count: 999;
        margin:1%;
    }
    .aboutP{
        margin-bottom: 3vw;
        width: 85%;
        font-size: 110%;
        text-align: justify;
    }
    
    h3{
        margin: 0;
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 130%;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    #about, #code, #skills{
        margin-top: 4vh;
        width: 50%;
        padding-bottom: 27px;
        justify-content: center;
        border-radius: 100px;
        width: 80vw;
        align-items: center;
        padding-left: 0;
        height:fit-content;
        overflow-x: hidden;
    }
    #code{
        height:250px;
    }
    #contact{
        display: none;
    }
    #burger{
        display: block;
        float: right;
        width: fit-content;
    }
    .contactIcon{
        margin: 0;
    }
    #steveImgWrap{
        height: 18%;
        top: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    #steveImg{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: block;
    }
    h5{
        text-align: center;
    }






    
.itemBox{
    height:151px;
    width: 151px;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
} 
.circle { 
    display: inline-block; 
    position: relative; 
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circle img { 
    width: 100%;
    height: 100%; 
}
.itemH4{
    position: absolute;
    margin-top: 5px;
    font-size: 110%;
    width: 151px;
    text-align: center;
    z-index: 5;
    color: white;
    white-space: initial;
}
.itemText{
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    z-index: 5;
    position: absolute;
    bottom: 5px;
    height: 30%;
    width: 100%;
}

.itemP{
    display: none;
}

.projViewBtn{
    z-index: 100;
    height: 150px;
    width: 150px;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0);
    border: none;
}


.scroll::-webkit-scrollbar {
    height: 18px;
}

#displayList{
    display: flex;
    width: 70%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    height: 180px;
    margin: 0 auto;
    touch-action: auto;
}
}
