@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  margin: 0;
  width: 100%;
  font-family: 'Rubik',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:hidden;
  position: fixed;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marker{
  font-family: 'Permanent Marker';
  font-weight: lighter;
}
#about, #code{
  position: relative;
  margin-top: 2vw;
  width: 50%;
  border-right: 10px solid #F3B116;
  border-left: 10px solid #F3B116;
  padding-bottom: 27px;
  justify-content: center;
  background: #01b0f07d;
  border-radius: 288px;
  width: 78vw;
  align-items: center;
  padding-left:20px;
}
.aboutP{
  position: relative;
  margin: 0 auto;
  margin-bottom: 1vw;
  display: block;
  width: 70%;
  color: rgb(20, 20, 20);
  font-weight: 100;
  font-size: 120%;
  
}
h3{
  margin: 1vw auto;
  color: white;
  font-size: 150%;
  display: block;
  width: 70%;
  
}