/*
CSS file for variables
- Steve Barry -
*/

:root{
    --h_color: rgb(0, 176, 240);   /*  00aff0  */
    --firstColor: rgb(0, 176, 240);
    --secondColor: grey;
    --thirdColor: #F3B116;
    --bx_shadow: 5px 5px 15px grey;
    --tx_shadow: 1px 1px 3px dimgray;
}