@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*  variables */
:root{
  --h_color: rgb(0, 176, 240);   /*  00aff0  */
  --firstColor: rgb(0, 176, 240);
  --secondColor: grey;
  --thirdColor: rgb(243, 177, 22); /* #F3B116 */
  --blueBgAlpha: rgba(1, 176, 240, 0.49); /* #01b0f07d */
  --bx_shadow: 5px 5px 15px grey;
  --tx_shadow: 1px 1px 3px dimgray;
}

/****************************
main & overarching stuff
****************************/
body {
  margin: 0;
  width: 100%;
  font-family: 'Rubik',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}
#mainContent{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
  background: linear-gradient(to right, #156785 0%, #fad0c4 99%, #fad0c4 100%);
  z-index: -100;
}
.marker{
  font-family: 'Permanent Marker';
  font-weight: lighter;
}

/****************************
main content: about, skills, code
****************************/

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


#about, #code, #skills{
  position: relative;
  margin-top: 2vw;
  width: 70%;
  border-right: 2px solid var(--thirdColor);
  border-left: 2px solid var(--thirdColor);
  padding-top: 5px;
  padding-bottom: 27px;
  justify-content: center;
  background: var(--blueBgAlpha);
  border-radius: 288px;
  width: 78vw;
  align-items: center;
  padding-left:20px;
  z-index: 1000;
}
.aboutP, #techList, h5{
  position: relative;
  margin: 0 auto;
  margin-bottom: 1vw;
  display: block;
  width: 70%;
  color: rgb(20, 20, 20);
  font-weight: 100;
  font-size: 120%;
  text-align: justify;
  
}
h3{
  margin: 1vw auto;
  color: white;
  font-size: 150%;
  display: block;
  width: 70%;
  
}
h5{
  color: var(--thirdColor);
  margin: 0 auto;
  margin-bottom: 15px;
  text-shadow: 1px 1px var(--secondColor);
  /* padding-left: 30px; */
}
#techList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skillsIcon{
  width: 36px;
  height: 36px;
}
#steveImgWrap{
  height: 98%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
#steveImg{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
}


/****************************
Header
****************************/
header{
  width: 100%;
  height: 100px;
  overflow:hidden;
  position: relative;
  z-index: 10;
}
#fName{
  color: lightgrey;
  text-shadow: 1px 1px var(--thirdColor);
  font-weight: lighter;
  position: absolute;
  /* display:inline-block; */
  z-index: 100;
  top: 10px;
  width: fit-content;
}
#lName{
  /* animation-name: lName;
  animation-duration: 40s;
  animation-iteration-count: 999; */
  color: dimgray;
  text-shadow: 1px 1px var(--firstColor);
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 147px;
}
#fullName{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 200%;
}
#fswd{
  position: fixed;
  margin-left: 20px;
  top: 50px;
  z-index: 90;
  color: var(--thirdColor);
  text-shadow: 1px 1px var(--secondColor);
  font-weight: lighter;
}
/****************************
Footer
****************************/
footer{
  width: 100%;
  height: 6vw;
  position: fixed;
  bottom: 0;
  z-index: 12;
}
#ack{
  width: 60%;
  margin: 0 auto;
  margin-right: 20%;
  font-size: 90%;
  text-align: center;
  display: block;
  bottom: 0;
  height: 100%;
}
#ackImg{
  height: 30px;
  width: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}
#copy{
  font-size: 90%;
  font-weight: 100;
  right: 0;
  margin-top: 2.5vw;
  margin-right: 2vw;
  line-height: 100%;
  display: block;
  color: white ;
  text-shadow: 0.5px 0.5px 0.5px var(--firstColor);
  z-index: 100;
  position: fixed;
  width: fit-content;
  /* animation-name: copy;
  animation-duration: 60s;
  animation-iteration-count: 999; */
}
#ballWrap{
  height: 100%;
  overflow-y: clip;
  /* z-index: -1; */
  position: absolute;
  right: 0;
}

/****************************
Contact
****************************/
#contact{
  margin-top: 2vw;
  z-index: 6;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  height: 150px;
  width: 300px;
  display: flex;
}
#burger{
  margin-top: 2vw;
  z-index: 6;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  height: 150px;
  width: 300px;
  display: none;
}
.contactIcon{
  width: 100px;
  max-width: 100px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}
.contactImg{
  height: 36px;
  width: 36px;
}

