@keyframes ball1 {
    0%   {top: -30vh;}
    50%  {top: 8vh;}
    100% {top: -30vh;}
}
@keyframes ball2 {
    0%   {bottom: -39vh;}
    50%  {bottom: -1vh;}
    100% {bottom: -39vh;}
}
@keyframes ball3 {
    0%   {border: 2px solid var(--secondColor); top: -30vh;}
    50%  {border: 2px solid var(--thirdColor); top: 8vh;}
    100% {border: 2px solid var(--secondColor); top: -30vh;}
}

@keyframes ball4 {
    0%   {border: 2px solid var(--thirdColor); bottom: -30vh;}
    50%  {border: 2px solid var(--firstColor); bottom: 8vh;}
    100% {border: 2px solid var(--thirdColor); bottom: -30vh;}
}
@keyframes nameH1 {
    0%   {color: white;}
    25%  {color: white;}
    35%  {color: var(--secondColor);}
    
    55%  {color: var(--secondColor);}
    60%  {color:white;}
    100% {color:white;}
}
@keyframes lName {
    0%   {text-shadow: 1px 1px var(--secondColor);}
    25%  {text-shadow: 1px 1px var(--secondColor);}
    35%  {text-shadow: 1px 1px var(--firstColor);}
    
    55%  {text-shadow: 1px 1px var(--firstColor);}
    60%  {text-shadow: 1px 1px var(--secondColor);}
    100% {text-shadow: 1px 1px var(--secondColor);}
}


@keyframes bwFont{
    0%   {color:black;text-shadow: 0 0 1px white;}
    40%  {color:black;text-shadow: 0 0 1px white;}
    50%  {color:white;text-shadow: 0 0 1px black;}
    90%  {color:white;text-shadow: 0 0 1px black;}
    100% {color:black;text-shadow: 0 0 1px white;}
}

@keyframes copy {
    0%   {color: white;}
    20%  {color: white;}
    30%  {color: var(--thirdColor);}
    
    55%  {color: var(--thirdColor);}
    60%  {color:white;}
    100% {color:white;}
}
/***********    Media keyframes ****/
@keyframes copy550{
    0%   {color: var(--thirdColor);}
    100% {color: var(--thirdColor);}
}

@keyframes ball2_1060 {
    0%   {bottom: -39vh;}
    50%  {bottom: -1.1vh;}
    100% {bottom: -39vh;}
}